@import "./variables";

.shell {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.container {
  height: 100vh;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("./assets/img/textured-paper.png");
  h2 {
    font-weight: bold;
    margin: 0;
  }
  p {
    font-weight: normal;
  }
}
.form {
  width: 100%;
}
/* text box */
@mixin boxes-default() {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  border: none;
}
@mixin text-input-default() {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  @include boxes-default();
}
.textInput {
  @include text-input-default();
}
.label {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #313030;
}

/* select */
.selectWrapper {
  padding: 0 1.1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin default-select() {
  height: 3em;
  width: 50%;
  padding: 0.2rem 0.4rem;
  background: #ffffff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
select {
  @include default-select();
}
.noErrorState {
  border: 2px solid $ok-color;
}
.errorState {
  border: 2px solid $error-color;
}
.error-msg {
  display: inline-block;
  color: $error-color;
  font-style: italic;
  font-size: 0.9rem;
  margin: 0;
}
option {
  font-size: 1.1rem;
  border: 1px solid $ok-color;
}
.buttonWrapper {
  @include text-input-default();
  width: 50%;
}
button {
  width: 25ch;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem 0;
  border-radius: 20px;
  font-size: 1.2rem;
  border: none;
  box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.44);
  cursor: pointer;
}
.btnSubmit {
  color: #ffffff;
  background-color: $checkbox-checked-bg;
}
button:disabled {
  @extend .btnSubmit;
  cursor: not-allowed;
  opacity: 0.6;
}
.btnReset {
  color: #313030;
  background-color: #ffffff;
}
.responseBlock {
  width: 100%;
  padding: 3rem;
  background-color: #000000;
  color: yellow;
  font-family: Monaco, "Lucida Console", monospace, sans-serif;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .boxes {
    @include boxes-default();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .textInput {
    @include text-input-default();
    width: 50%;
  }
  select {
    @include default-select();
    width: 25%;
  }
}
